@import "../../App.scss";

.home_container {
	display: flex;
	max-width: 1024px;
	margin: 0 auto;
	padding: 60px 0;

	.home_message {
		color: #4e4039;

		h1 {
			font-size: 4em;
		}

		.home {
			color: $base_color3;
		}

		.get-started a {
			background: $base_color3;
			color: #fff;
			border-radius: 9px;
			padding: 10px 25px;
			font-size: 17px;
			text-decoration: none;
		}

		.get-started a:hover {
			background: white;
			color: $base_color3;
			border: 1px solid $base_color3;
		}
	}
	.play_with_toy {
		width: 600px;

		#Vector_48,
		#Vector_98 {
			animation: head 3s ease-in-out infinite alternate;
			transform-origin: center;
			transform-box: fill-box;
		}

		@keyframes head {
			from {
				transform: rotateZ(0);
			}
			to {
				transform: rotateZ(30deg);
			}
		}
	}
}

.item_preview {
	max-width: $minWidthScreen;
	margin: 0 auto;
	.react-multi-carousel-track {
		gap: 10px;
	}
	.slide_img {
		box-shadow: $boxShadow1;
		border-radius: 6px;
		.imgBox {
			text-align: center;
			margin: 3px;
			padding: 10px;
		}
		.desc {
			text-align: center;
			padding: 10px;
			@include TextEllipsis;
			background-color: $base_color4;
		}
		.price {
			text-align: left;
			padding: 0 0 10px 10px;
			background-color: $base_color4;
			border-radius: 0 0 6px 6px;
		}
	}
	.slide_img img {
		border-radius: 5px;
	}
	.react-multi-carousel-list {
		padding: 1px;
	}
}
