$base_color1: #F8E5E5;
$base_color2: #3F3D56;
$base_color3: #FA255E;


.footer{
    background-color: #3F3D56;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    color: #F8E5E5;

    .toyshop{
        padding-top: 37px;
        padding-left: 30px;
    }
    .follow_us{
        padding-top: 39px;
        padding-right: 50px;

        span{
            margin-right: 10px;
        }

        i{
            margin: 0 10px;
        }

        i:hover{
            cursor: pointer;
            color: $base_color3;
        }
    }
}