@import "../../App.scss";

.footer {
	flex: 1;
	background-color: #3f3d56;
	padding: 80px 0;
	display: flex;
	justify-content: space-between;
	color: #f8e5e5;

	.toyshop {
		padding-top: 37px;
		padding-left: 30px;
	}
	.follow_us {
		padding-top: 39px;
		padding-right: 50px;

		span {
			margin-right: 10px;
		}

		i {
			margin: 0 10px;
		}

		i:hover {
			cursor: pointer;
			color: $base_color3;
		}
	}
}
